body{
    background-color:#9dc4f6;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body ul p {
    margin: 0;
    padding: 0;
}

/*-------------HEADER------------*/
header{
    position:relative;
}

.fondo_header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(transparent, #000);
    background-size: cover;
    background-position: center; 
}
.over_header{    
    position:absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.photo_container{
    width: 100%;
    height: auto;
    align-content: center;
    display: flex; 
    justify-content: center; 
    padding: 40px 0;
    margin-top: 50px;
}

.foto_header{
    min-width: 150px;
    max-width: 400px;
    width: 30%;    
    border-radius: 50%; 
    border: 7px solid #005;      
}

h1{
    color: #48e;
    text-align: center;
    font-size: 3rem;
   
}

.over_header p{
    color:#48e;
    text-align: center;
    font-size: 2rem; 
    padding: 40px;   
}

/*-------------- QUERIES HEADER -----------*/
@media (max-height:500px){
    .fondo_header{
        height: 200vh;
    }
    .over_header{
        height: 200vh;
    }
}

/*---------------------------------------------*/

/*-------------- BARRA HORIZONTAL -----------*/
.hor_nav{    
    width: 100%;
    height: 40px;      
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    position: sticky;
    top: 0;  
    background-color:#9dc4f6;
    box-shadow: 0 0 30px black;  
}

.hor_list{
    margin: 0;
    display: flex;
    gap: 5px;
    padding: 0;     
}

.hor_items{    
    list-style: none;
    border-radius: 20px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: .4s;
}

.hor_items a{     
    text-decoration: none; 
    color: #551A8B;   
}

.hor_items:hover{
    background-color: #48e;
    transition-property: background-color;
    transition-duration: .4s;
}

/*----------------------------------------*/

/*-------------- MAIN ---------------*/

main{
    padding: 0 10px;
    justify-items: center;
    font-size: 1.5rem;
}

main p{
    text-align: justify;
}

.main_photo{    
    width: 322px;
    height: 300px;
    margin: 40px 0;
    box-shadow: 0 0 40px black;
    border-radius: 25px;
}




